body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ffcc0f, #ffcd00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding-top: 40px;
    min-height: 80vh;
}

.container{
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

h1{
    text-align: center;
}

p{
    color: black;
}

.input-group{
    display: flex;
    gap: 10px;
    width: 100%;
}

input{
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #667eea;
    color: white;
    cursor: pointer;
}

ul {
    padding: 20px;
    margin: 0;
}

li{
    padding: 10px;
    margin-top: 10px;
    gap: 10px;
    background: #f1f1f1;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span{
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    flex-shrink: 0;
    cursor: pointer;
}

li input {
    flex: 1;
    min-width: 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.completed span{
    text-decoration: line-through;
    opacity: 0.5;
    color: rgb(128, 128, 128);
}

.contador-de-tareas{
    text-align: center;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.actions {
    display: flex;
    gap: 5px;
    flex-shrink: 0;
}

.cancel-btn {
    background: gray;
}

.delete-btn {
    background: crimson;
}

.hidden {
    display: none;
}

.edit-btn {
    background: #667eea;
}

.edit-btn.save-mode {
    background: green;
}